<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mobile.css">
</head>
<body>
    
        <div class="nav">
            <h3>net<span>cafe</span></h3>
            <ul>
                
                <li><a href="\project\home.html">Home</a></li>
                <li class="active"><a href="#">Mobile</a>
                <div class="submenu1">
                    <ul>
                        <li><a href="G:\project\component\mobile\vivo.html">Vivo</a></li>
                        <li><a href="\project\component\mobile\realme.html">Realme</a></li>
                        <li><a href="\project\component\mobile\samsung.html">Samsung</a></li>
                        <li><a href="G:\project\component\mobile\oppo.htmll">Oppo</a></li>

                    </ul>
                </div></li>
                <li><a href="home.html">Headset</a>
                    <div class="submenu1">
                        <ul>
                            <li><a href="G:\project\component\headset\wired.html">Wired</a></li>
                            <li><a href="G:\project\component\headset\wireless.html">Wireless</a></li>
                            <li><a href="G:\project\component\headset\headphone.html">Headphone</a></li>
                        </ul>
                    </div></li>
                <li><a href="G:\project\component\contact\contact.htmll">Contact</a></li>
                <li><a href="G:\project\component\about\about.html">About</a></li>
            </ul>
            </div>
            <div class="container">
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\a54.jpeg">
                    <h3>Oppo A54</h3>
                    <p>4GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\a54.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\reno-5g.jpeg">
                    <h3>Oppo Renno 7 </h3>
                    <p>8GB Ram|256GB Rom|Expandaple Upto 1TB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\reno7.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\a53s.jpeg">
                    <h3>Oppo A53s</h3>
                    <p>8GB Ram|128GB Rom|Expandaple Upto 1TB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\a53s.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\reno6.jpeg">
                    <h3>Oppo Reno 6 </h3>
                    <p>8GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\reno6.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\oppo-f17.jpeg">
                    <h3>Oppo F17 Pro</h3>
                    <p>8GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\f17pro.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\reno7-pro.jpeg">
                    <h3>Oppo Reno7 Pro </h3>
                    <p>12GB Ram|256GB Rom|Expandaple Upto 1TB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\reno7pro.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\a16.jpeg">
                    <h3>Oppo A16</h3>
                    <p>4GB Ram|64GB Rom|Expandaple Upto 128GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\oppo\oppoa16.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\oppo-a11k.jpeg">
                    <h3>Oppo A11K</h3>
                    <p>2GB Ram|32GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\oppo-a31.jpeg">
                    <h3>Oppo A31</h3>
                    <p>6GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\oppo\f19-pro.jpeg">
                    <h3>Oppo F19 Pro</h3>
                    <p>8GB Ram|256GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
            </div> 
            
      
        <div class="footer">
            <h3>Developed & Maintaine by:<br>I.Habeeb Rahman</h3>
            <h3>Copyright © 2020 - 2030. All Rights Reserved.NetCafe<br> www.NetCafe.ac.in</h3>
        </div>
    
</body>
</html>