<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mobile.css">
</head>
<body>
    
        <div class="nav">
            <h3>net<span>cafe</span></h3>
            <ul>
                
                <li><a href="\project\home.html">Home</a></li>
                <li class="active"><a href="#">Mobile</a>
                <div class="submenu1">
                    <ul>
                        <li><a href="G:\project\component\mobile\vivo.html">Vivo</a></li>
                        <li><a href="\project\component\mobile\realme.html">Realme</a></li>
                        <li><a href="G:\project\component\mobile\samsung.html">Samsung</a></li>
                        <li><a href="G:\project\component\mobile\oppo.html">Oppo</a></li>

                    </ul>
                </div></li>
                <li><a href="home.html">Headset</a>
                    <div class="submenu1">
                        <ul>
                            <li><a href="G:\project\component\headset\wired.html">Wired</a></li>
                            <li><a href="G:\project\component\headset\wireless.html">Wireless</a></li>
                            <li><a href="G:\project\component\headset\headphone.html">Headphone</a></li>
                        </ul>
                    </div></li>
                <li><a href="G:\project\component\contact\contact.htmll">Contact</a></li>
                <li><a href="G:\project\component\about\about.html">About</a></li>
            </ul>
            </div>
            <div class="container">
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\c2y1.jpeg">
                    <h3>Realme c2y1</h3>
                    <p>3GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\realme\c2y1.html">more info</a></li></ul>
                </div>

                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\narzo-50a.jpeg">
                    <h3>Realme Narzo 50A</h3>
                    <p>4GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\realme\nazr050a.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\realme-8.jpeg">
                    <h3>Realme 8</h3>
                    <p>4GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\realme\8.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\c20.jpeg">
                    <h3>Realme C20</h3>
                    <p>2GB Ram|32GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="G:\project\component\mobile\mobile_details\realme\c20.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\c21.jpeg">
                    <h3>Realme C21</h3>
                    <p>3GB Ram|32GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="nazro50a.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\8i.jpeg">
                    <h3>Realme 8i</h3>
                    <p>4GB Ram|64GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="nazro50a.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\c25y.jpeg">
                    <h3>Realme C25Y</h3>
                    <p>4GB Ram|64GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="nazro50a.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\narzo-50i.jpeg">
                    <h3>Realme Nazro 5o i</h3>
                    <p>2GB Ram|32GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="nazro50a.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\realme-pro-5g.jpeg">
                    <h3>Realme 9 Pro 5G</h3>
                    <p>6GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="nazro50a.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\mobile\pic\realme\narzo-30-5g.jpeg">
                    <h3>Realme Narzo 30 Pro 5G</h3>
                    <p>6GB Ram|128GB Rom|Expandaple Upto 256GB</p>
                 <ul><li> <a href="nazro50a.html">more info</a></li></ul>
                </div>
            </div> 
            
      
        <div class="footer">
            <h3>Developed & Maintaine by:<br>I.Habeeb Rahman</h3>
            <h3>Copyright © 2020 - 2030. All Rights Reserved.NetCafe<br> www.NetCafe.ac.in</h3>
        </div>
    
</body>
</html>