<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="headset.css">
</head>
<body>
    
        <div class="nav">
            <h3>net<span>cafe</span></h3>
            <ul>
                
                <li><a href="\project\home.html">Home</a></li>
                <li ><a href="#">Mobile</a>
                <div class="submenu1">
                    <ul>
                        <li><a href="G:\project\component\mobile\vivo.html">Vivo</a></li>
                        <li><a href="\project\component\mobile\realme.html">Realme</a></li>
                        <li><a href="\project\component\mobile\samsung.html">Samsung</a></li>
                        <li><a href="G:\project\component\mobile\oppo.htmll">Oppo</a></li>

                    </ul>
                </div></li>
                <li class="active"><a href="#">Headset</a>
                    <div class="submenu1">
                        <ul>
                            <li><a href="G:\project\component\headset\wired.html">Wired</a></li>
                            <li><a href="G:\project\component\headset\wireless.html">Wireless</a></li>
                            <li><a href="G:\project\component\headset\headphone.html">Headphone</a></li>
                        </ul>
                    </div></li>
                <li><a href="G:\project\component\contact\contact.html">Contact</a></li>
                <li><a href="G:\project\component\about\about.html">About</a></li>
            </ul>
            </div>
            <div class="container">
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\airdopes-131-.jpeg">
                    <h3>boAt Airdopes 131</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wireless\airdopes-381.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\airdopes-381.jpeg">
                    <h3>boAt Airdopes 382</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wireless\airdopes-381.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\402.jpeg">
                    <h3>boAt Airdopes 402</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wireless\airdopes-402.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\airdopes-461.jpeg">
                    <h3>boAt Airdopes 461</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wireless\airdopes-461.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\airdopes-601.jpeg">
                    <h3>boAt Airdopes 601  </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\realme-buds-air2.jpeg">
                    <h3>Realme buds Air 2 </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\realme-buds-q2.jpeg">
                    <h3>realme-buds-Q2 </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\realme-buds.jpeg">
                    <h3>Realme buds wireless pro </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\e304a-oneplus-original-imag2swdgagpmwjc.jpeg">
                    <h3>One Bullet Wireless z </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
              
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wireless\wireless.jpeg">
                    <h3>one plus buds Bluetooth </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
            
            </div> 
            
      
        <div class="footer">
            <h3>Developed & Maintaine by:<br>I.Habeeb Rahman</h3>
            <h3>Copyright © 2020 - 2030. All Rights Reserved.NetCafe<br> www.NetCafe.ac.in</h3>
        </div>
    
</body>
</html>