<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="headset.css">
</head>
<body>
    
        <div class="nav">
            <h3>net<span>cafe</span></h3>
            <ul>
                
                <li><a href="\project\home.html">Home</a></li>
                <li ><a href="#">Mobile</a>
                <div class="submenu1">
                    <ul>
                        <li><a href="G:\project\component\mobile\vivo.html">Vivo</a></li>
                        <li><a href="\project\component\mobile\realme.html">Realme</a></li>
                        <li><a href="\project\component\mobile\samsung.html">Samsung</a></li>
                        <li><a href="G:\project\component\mobile\oppo.html">Oppo</a></li>

                    </ul>
                </div></li>
                <li class="active"><a href="#">Headset</a>
                    <div class="submenu1">
                        <ul>
                            <li><a href="G:\project\component\headset\wired.html">Wired</a></li>
                            <li><a href="G:\project\component\headset\wireless.html">Wireless</a></li>
                            <li><a href="G:\project\component\headset\headphone.html">Headphone</a></li>
                        </ul>
                    </div></li>
                <li><a href="G:\project\component\contact\contact.html">Contact</a></li>
                <li><a href="G:\project\component\about\about.html">About</a></li>
            </ul>
            </div>
            <div class="container">
                
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\realme-buds-2.jpeg">
                    <h3>Realme Buds 2 Wired Headset</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wired\realme-buds2.html">more info</a></li></ul>
                </div>

                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\buds-classic.jpeg">
                    <h3>Realme Buds Classic</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wired\buds-classic.html">more info</a></li></ul>
                </div>
               
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\bassheads-103-blue.jpeg">
                    <h3>BoAt Headset 103 Blue</h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wired\boat-103.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\bassheads-220.jpeg">
                    <h3>BoAt BassHead 220 </h3>
                   
                 <ul><li> <a href="G:\project\component\headset\headphone-details\wired\boat-220.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\242.jpeg">
                    <h3>BoAt BassHead 242 </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\boat-bassheads-100.jpeg">
                    <h3>BoAt BassHead 100 </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\bassheads-104.jpeg">
                    <h3>BoAt BassHead 104 </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\boat-bassheads-172.jpeg">
                    <h3>BoAt BassHead 172 </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
              
                <div class="mobile-box">
                    <img src="G:\project\component\headset\pic\wired\sony-mdr-ex15ap.jpeg">
                    <h3>Sony ex15Ap </h3>
                   
                 <ul><li> <a href="samsung-f12.html">more info</a></li></ul>
                </div>
            
            </div> 
            
      
        <div class="footer">
            <h3>Developed & Maintaine by:<br>I.Habeeb Rahman</h3>
            <h3>Copyright © 2020 - 2030. All Rights Reserved.NetCafe<br> www.NetCafe.ac.in</h3>
        </div>
    
</body>
</html>