<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h3>net<span>cafe</span></h3>
            <ul>
                
                <li><a href="G:\project\home.html">Home</a></li>
                <li><a href="#">Mobile</a>
                <div class="submenu1">
                    <ul>
                        <li><a href="G:\project\component\mobile\vivo.html">Vivo</a></li>
                        <li><a href="\project\component\mobile\realme.html">Realme</a></li>
                        <li><a href="\project\component\mobile\samsung.html">Samsung</a></li>
                        <li><a href="G:\project\component\mobile\oppo.html">Oppo</a></li>

                    </ul>
                </div></li>
                <li><a href="home.html">Headset</a>
                    <div class="submenu1">
                        <ul>
                            <li><a href="G:\project\component\headset\wired.html">Wired</a></li>
                            <li><a href="G:\project\component\headset\wireless.html">Wireless</a></li>
                            <li><a href="G:\project\component\headset\headphone.html">Headphone</a></li>
                        </ul>
                    </div></li>
                <li class="active"><a href="G:\project\component\contact\contact.html">Contact</a></li>
                <li><a href="G:\project\component\about\about.html">About</a></li>
            </ul>
            </div>
           </div>
           <div class="contact">
               <div class="contact-1">
                  <img src="G:\project\component\contact\contact-us-icon-call-contact-us-contacts-email-message-white-background-contact-us-icon-call-contact-us-contacts-email-message-121745064.jpg">
                </div>
               
               <div class="contact-1">
                   <h3>mobile no: <span>8190888237</span></h3>
                   <h3>phone no: <span>267119</span></h3>
                   <h3>what'up: <span>9585826271</span></h3>
                   <h3>insta: <span>Netcafe_World_15</span></h3>
                   <h3>Email: <span>www.Netcafe@email.com</span></h3>
               </div>
               <div class="contact-1">
                   <h3>Address: <span>2/253,north street<br>chittar kottai<br>ramanathapuram</span></h3>
               </div>
               
            
           </div>
        <div class="footer">
            <h3>Developed & Maintaine by:<br>I.Habeeb Rahman</h3>
            <h3>Copyright © 2020 - 2030. All Rights Reserved.NetCafe<br> www.NetCafe.ac.in</h3>
        </div>
    
</body>
</html>