<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h3>net<span>cafe</span></h3>
            <ul>
                
                <li ><a href="G:\project\home.html">Home</a></li>
                <li><a href="#">Mobile</a>
                <div class="submenu1">
                    <ul>
                        <li><a href="G:\project\component\mobile\vivo.html">Vivo</a></li>
                        <li><a href="\project\component\mobile\realme.html">Realme</a></li>
                        <li><a href="\project\component\mobile\samsung.html">Samsung</a></li>
                        <li><a href="G:\project\component\mobile\oppo.html">Oppo</a></li>

                    </ul>
                </div></li>
                <li><a href="home.html">Headset</a>
                    <div class="submenu1">
                        <ul>
                            <li><a href="G:\project\component\headset\wired.html">Wired</a></li>
                            <li><a href="G:\project\component\headset\wireless.html">Wireless</a></li>
                            <li><a href="G:\project\component\headset\headphone.html">Headphone</a></li>
                        </ul>
                    </div></li>
                <li><a href="G:\project\component\contact\contact.html">Contact</a></li>
                <li class="active"><a href="G:\project\component\about\about.html">About</a></li>
            </ul>
            </div>
           </div>
           <div class="about">
               <div class="contant">
                   <div class="inner-contant">
                      <h3>
                        Get Newly released Smartphones & Gadgets at Netcafe. NetCafe sells a wide category of devices in its showrooms , ranging from the Best Smartphones, Smart Devices. NetCafe E-Commerce platform www.NetCafe.ac.in
                      </h3>

                   </div>
                   <div class="inner-contant">
                       <img src="G:\project\component\about\images (1).jpg">

                </div>
                <div class="inner-contant">
                       <img src="G:\project\component\about\687727-dishtv-050318.jpg">

                </div>
                <div class="inner-contant">
                       <h3>We have also provide all kind of dish Tv Reacharge,and all kind of network mobile reacharge and data plan</h3>

                </div>

               </div>
              
               
            
           </div>
        <div class="footer">
            <h3>Developed & Maintaine by:<br>I.Habeeb Rahman</h3>
            <h3>Copyright © 2020 - 2030. All Rights Reserved.NetCafe<br> www.NetCafe.ac.in</h3>
        </div>
    
</body>
</html>